<!DOCTYPE html>
<html lang="en">

<head>
  <title>Szombathely 2030 közönségszavazás</title>
  <meta charset="UTF-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->

  <div class="container text-center">
    <div class="col">
      <div class="row">
        <img class="image_style" src=".\images\szhely2030_white_logo.png" alt="logo">
      </div>
      <div class="d-flex justify-content-center">
        <!--<div class="box">
          <div class="box-body">-->
        <form action="/" method="POST">
          <input type="hidden" id="postId" name="id_qr" value='<%=qr_id %>'></input>

          <div id="choose" class="col"></div>
          <!--<div class="d-flex justify-content-center">-->
          <div class="col">
            <div class="row">
              <input type="submit" class="btn btn-submit text-center"></input>
            </div>  
          </div>  
          
      </div>
    </div>

    </form>
    <!--</div>
      </div>-->
  </div>

  </div>
  </div>


  <script>

    fetch('/api/participants')
      .then(res => res.json())
      .then((out) => {
        for (var i = 0; i < out.data.length; i++) {
          //output = `<input type="radio" name="selected" id="option` + out.data[i].id + `" value="` + out.data[i].id + `" autocomplete="off" required="required">
          //          <div class="box"><label class="label_alternate" for="option`+ out.data[i].id + `">` + out.data[i].name + `</label> </div>`
          //output = `<input class="btn-check" type="radio" name="selected" id="option` + out.data[i].id + `" value="` + out.data[i].id + `" autocomplete="off" required="required">
          //          <label class="btn btn-outline-primary" for="option`+ out.data[i].id + `">` + out.data[i].name + `</label>
          //          `
          //output = `<input type="radio" name="selected" id="option` + out.data[i].id + `" value="` + out.data[i].id + `" autocomplete="off" required="required">
          //          <div class="box"><label class="label_alternate" for="option`+ out.data[i].id + `">` + out.data[i].name + `</label> </div>`

          //output = `<label class="form-check-label" for="option`+out.data[i].id+`">
          //          <input type="radio" class="form-check-input" name="selected" id="option`+ out.data[i].id +`" value="`+ out.data[i].id +`>`+out.data[i].name+`</label>`
          //output =  `<input class="btn-check" type="radio" class="form-check-input" name="selected" value=`+ out.data[i].id +` id="option`+ out.data[i].id +`">
          //           <label class="btn btn-secondary" for="option`+ out.data[i].id +`">`+ out.data[i].name +`</label>`

          output = `<div class="row  text-center">
                      <label class="btn">
                        <input type="radio" name="selected" id="`+out.data[i].id+`" value="`+out.data[i].id+`" autocomplete="off" required="required">`+ out.data[i].name +`
                      </label>
                    </div>`


          document.getElementById("choose").innerHTML += output;
        }
      }).catch(err => console.error('Error:', err));
  </script>





  <div class="container">




</body>

</html>